<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- Bean implementing edu.uw.ext.framework.account.AccountFactory -->
  <bean id="AccountFactory" class="edu.uw.rgm.account.SimpleAccountFactory"/>

  <!-- Bean implementing edu.uw.ext.framework.account.Address -->
  <bean id="Address" class="edu.uw.rgm.account.SimpleAddress"/>

  <!-- Bean implementing edu.uw.ext.framework.account.CreditCard -->
  <bean id="CreditCard" class="edu.uw.rgm.account.SimpleCreditCard"/>

  <!-- Bean implementing edu.uw.ext.framework.account.Account -->
  <bean id="Account" class="edu.uw.rgm.account.SimpleAccount"/>

  <!-- Bean implementing edu.uw.ext.framework.account.AccountManagerFactory -->
  <bean id="AccountManagerFactory" class="edu.uw.rgm.account.SimpleAccountManagerFactory"/>

  <!-- Bean implementing edu.uw.ext.framework.broker.BrokerFactory -->
  <bean id="BrokerFactory" class="edu.uw.rgm.broker.SimpleBrokerFactory"/>


  <!-- Bean providing RDBMS implementation of edu.uw.ext.framework.account.DaoFactory -->
  <!--
  <bean id="DaoFactory" class="edu.uw.rgm.dao.DatabaseDaoFactory"/>
  -->

  <!-- Bean providing file implementation of edu.uw.ext.framework.account.DaoFactory -->
  <bean id="DaoFactory" class="edu.uw.rgm.dao.JsonDaoFactory"/>

  <!-- Bean providing zip implementation of edu.uw.ext.framework.account.DaoFactory -->
  <!--
  <bean id="DaoFactory" class="edu.uw.rgm.dao.ZipDaoFactory"/>
  -->
  
  <!-- Bean providing XML implementation of edu.uw.ext.framework.account.DaoFactory -->
  <!--
  <bean id="DaoFactory" class="edu.uw.ext.framework.dao.XmlDaoFactory"/>
  -->
  
</beans>

