<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="Welcomer" class="edu.uw.exemplar.di.Greeter" scope="prototype">
      <property name="greeting">
          <ref bean="Howdy"/>
      </property>
  </bean>
  <bean id="Howdy" class="edu.uw.exemplar.di.Greeting">
      <property name="message">
          <value>Howdy friend</value>
      </property>
  </bean>

  <bean id="Constructed" class="edu.uw.exemplar.di.Greeter" scope="prototype">
      <constructor-arg value="Hello"/>
  </bean>

  <!-- Static factories have to have a prototype scope. -->
  <!-- Static factory -->
  <bean id="FactoryDirect" class="edu.uw.exemplar.di.GreeterFactory"
        factory-method="newGreeter" scope="prototype">
      <constructor-arg value="Hello"/>
  </bean>

  <!-- Instance factory -->
  <bean id="MyFactory" class="edu.uw.exemplar.di.GreeterFactory" scope="prototype"/>
  <bean id="FactoryDirect2" class="edu.uw.exemplar.di.GreeterFactory"
        factory-bean="MyFactory" factory-method="createGreeter"
        scope="prototype">
      <constructor-arg value="Hello"/>
  </bean>
 
  <bean id="Collector" class="edu.uw.exemplar.di.Collector">
    <property name="list">
      <list value-type="edu.uw.exemplar.di.Greeting">
          <ref bean="Howdy"/>
          <bean class="edu.uw.exemplar.di.Greeting">
             <property name="message" value="Mornin'"/>
          </bean>
      </list>
    </property>
    <property name="set">
      <set value-type="java.lang.Integer">
        <value>1</value>
        <value>2</value>
      </set>
    </property>

    <property name="map">
	<!-- declaration of type is optional -->
    <map key-type="java.lang.String" value-type="java.lang.Integer">
        <entry key="Alpha" value="1"/>
        <entry key="Beta">
          <value>2</value>
        </entry>
      </map>
    </property>
    <property name="props">
      <props>
        <prop key="Alpha">One</prop>
        <prop key="Beta">Two</prop>
      </props>
    </property>

  </bean>
</beans>
